<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="col-md-12">

            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h2 class="text-uppercase text-center"> krestiki - noliki</h2>
                    <button type="button" class="btn btn-info" ng-click="$ctrl.createNewBoard()">create board</button>
                    <button type="button" class="btn btn-info" ng-click="$ctrl.createNewPlayer()">create player</button>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="box col-md-8 col-md-offset-2">
                            <div class="square col-md-4" ng-repeat="state in $ctrl.board.boardStates track by $index" ng-click="$ctrl.addState(state,$index)">
                                <span ng-if="$ctrl.playerStates[$index] == 1">o</span>
                                <span ng-if="$ctrl.playerStates[$index] != 1 && state == 1">x</span>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <button type="button" ng-repeat="(key,board) in $ctrl.allBoards" ng-click="$ctrl.connectToBoard(key)" class="list-group-item">connect to board: {{key}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
